.add-task {
	border-top: 1px solid #dadada;
	display: flex;

	input {
		border: 0 !important;
		width: 100%;
		height: 50px;
		padding: 20px 50px;
		font-size: 22px;
		background-color: rgb(49, 49, 49);
    color: rgb(240, 240, 240);

		&:focus {
			outline: none;
			background-color: rgb(10, 10, 10);
		}
	}

	button {
		position: inline;
		background-color: transparent;
		width: 2.5em;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		border: 0;

		&:hover,
		&:focus {
			background-color: rgb(10, 10, 10);
			box-shadow: none;
		}

		
		img {
			fill: #bdbdbd;
			width: 32px;			
			
			padding: 5px;
			background-color: rgba(255, 255, 255, 0.92);
			border-radius: 30%;
			box-shadow: 0px 3px 0px 0px rgb(0, 76, 255);
			
			&:active {
				position: relative;
				box-shadow: none;
				top: 3px;
			}
		}
	}
}