* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.app {
  padding: 0 !important;
  height: 100vh;

  background-color: #212121;

  /* Estilo de la barra de scroll para Chrome, Edge y Safari */
  ::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de scroll */
  }
  ::-webkit-scrollbar-track {
    background: transparent; /* Color del área de desplazamiento */
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(102, 144, 196); /* Color del botón de desplazamiento */
    border-radius: 20px; /* Redondez del botón de desplazamiento */
    // border: 1px solid orange; /* Relleno alrededor del botón de desplazamiento */
    // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); /* Sombra del botón de desplazamiento */
  }
  
  .header {
    background-color: #104288;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom: 1px solid rgb(62, 120, 192);
    box-shadow: 0px -2px 3px 2px rgba(0,0,0,0.7);
    
    h1 {
      text-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      color: rgb(255, 255, 255);
      padding-top: 7px;
    }
  }
  
  .todo {
    margin: 40px 0 0 0;
    width: auto;
    
    &__title {
      background-color: #212121;
      height: 60px;
      border: 1px solid #dadada;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        color: #008dd0;
        letter-spacing: 7px;
      }
    }
  }
  
  .todo_list {
    padding: 0;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    background-color: #212121;
    max-height: auto;
    overflow-y: scroll;
    color: rgb(240, 240, 240);
    max-height: 60vh;

    .loading {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px 0;

      span {
        padding-top: 7px;
      }
    }

    h3 {            
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px 0;
      color: rgb(255, 255, 255);
    }
  }

  .todo_input {
    border: 1px solid white;    
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
}